@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-li {
      @apply border-l-2 border-black font-medium bg-gray-100 hover:bg-gray-200;
    }
  }
  table {
    table-layout: auto;
    max-width: 100%;
    overflow-x: scroll;} 
    
    thead{
      background-color: rgb(68, 68, 68) !important;
      color: white !important;
    }
  th {
    background-color: rgb(68, 68, 68) !important;
    white-space: nowrap; 
    padding: 8px;
    text-align: center !important;
    font-weight: bold !important;
    color: white !important;
    text-transform: uppercase;
  }
  td {
    padding: 8px;
    text-align: center !important;
    max-width: 280px;
    white-space: normal;          
    overflow-wrap: break-word;     
  }
  